/* MAIN HOME STYLE CSS*/

*{
  background-color: #E7E0EA !important;
}

/* font faces */
@font-face{
    src: url(fonts/Avenir.otf);
    font-family: Avenir;
}

@font-face{
    src: url(fonts/GopherDisplay-Bold.ttf);
    font-family: Gopher-bold;
}

@font-face{
    src: url(fonts/GopherDisplay-Medium.ttf);
    font-family: Gopher-med;
}

@font-face{
    src: url(fonts/GraphikBold.otf);
    font-family: GraphB;
}

@font-face{
    src: url(fonts/GraphikLight.otf);
    font-family: GraphL;
}

@font-face{
    src: url(fonts/GTWalsheimPro-Black.ttf);
    font-family: GTblack;
}

@font-face{
    src: url(fonts/GT-Walsheim-Pro-Light.ttf);
    font-family: GTlight;
}

@font-face{
    src: url(fonts/GT-Walsheim-Pro-Regular.ttf);
    font-family: GTreg;
}

/* typography *
h1{
    font-family: Gopher-med, Gopher-bold;
    font-size: 50px;
}

h2{
    font-family: GT-reg;
    font-size: 40px;
}

h3{
    font-family: Avenir;
    font-size: 45px;
}

h4{
    font-family: Avenir;
    font-size: 35px;
}
*/
.whitespace {
      width: 100%;
      height: 100px;
}
.whitespace1 {
      width: 100%;
      height: 50px;
}

/* ------------- nav bar--------------*/
.nav-content {
    display: inline-block;
    align-items: center;
    font-family: Gopher-bold, sans-serif;
    width: 100%;
}

.nav-logo {
    position: relative;
    display: inline-block;
    justify-content: center;
    margin-left: 6%;
}
.logo{
  width: 13%;
  margin-top: 6%;
}
.logo:hover{
  content: url('https://res.cloudinary.com/dk5kblf1w/image/upload/v1600497881/logo_odvm7f.png');
  width: 13%;
}

/* ------------- end of logo for home --------------*/
.menu-list {
    position: relative;
    display: inline-block;
    min-width: 300px;
    text-align: right;
    right: 100px;
    height: 120px;
    float: right;
}

.menu-list ul#menu {
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;

}
#menu li {
    list-style: none;
    padding: 10px 25px;
    margin: 0 0.3vh;

}
#menu li a {
  text-decoration: none;
  font-size: 20px;
  color: #6364A5;
}
#menu li a:hover{
  color: #A799FF;
}
@media(max-width: 768px){
  .nav-logo{
    display: none;
  }
  .logo{
    display: none;
  }
  .menu-list{
    right: 10px;
  }
}

/*strikethrough effect for nav*/
.line2 {
  position: relative;
  display: block;
  cursor: pointer;
}

.line2:before, .line:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 80%; /* change where line is */
  margin-top: -0.5px;
  background: #74E8B0;
}

.line2:before {
  left: -2.5px;
}
.line2:after {
  right: 2.5px;
  background: #74E8B0;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.line2:hover:before {
  background: #74E8B0;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.line2:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.ontop{ /*where the word is underlined or over*/
   -webkit-text-decoration-line: underline; /* Safari */
   text-decoration-line: underline; 
}


/* ------------- home intro--------------*/
.container{
  margin-left: 2%;
  color: white;
}
h1{
  font-family: Gopher-med;
  color: #2F2951;
  font-size: 25px;
}
.intro{
  font-size: 25px;
  font-family: Gopher-med;


}
.toabout{
   color: #2F2951;
}
.toabout:hover{
  color:#366086;
  text-decoration: none;
}
.intro2{
  font-family: Gopher-med;
  color: #2F2951;
  font-size: 25px;
}



.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-10-8 21:0:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
/*------end of animation--------*/
@media(max-width: 768px){
  h1{
    font-size: 20px;
  }
  .intro{
    font-size: 20px;
  }
  .intro2{
    font-size: 15px;
  }
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.line div {
  visibility: hidden;
}

section {
  background: #c9c7b4;
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 10vw;
}

section:nth-child(2) {
  background: #efeae7;
}

section:nth-child(3) {
  background: #d3a488;
}

* {
  box-sizing: border-box;
}


/* ----------------  MAIN body-------------------------*/
.img_home{
 width: 20%;
 float: right;
 margin-right: 5%;
}
.img_home2{
 width: 20%;
 float: right;
 margin-right: 3%;
}
/*for missioncure img*/
.img_home3{ 
 width: 23%;
 float: right;
 margin-right: 3%;
 margin-top: 2%;
} 


.title{
  font-family: Gopher-med;
  color: #6364A5;
  font-size: 25px;
  margin-left: 3%;
}
.title2{
  font-family: Gopher-med;
  color: #4D4A65;
  font-size: 25px;
  margin-left: 3%;
}
.subtitle{
  font-family: GTlight;
  color: #6364A5;
  font-size: 20px;
  margin-left: 13%;
  font-stretch: expanded;
}
.subtitle2{
  font-family: GTlight;
  color: #4D4A65;
  font-size: 20px;
  margin-left: 13%;
  font-stretch: expanded;
}

@media(max-width: 768px){
  .text_show{
    display: none;
  }
  .text_space{
    width: 100%;
    height: 50px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1570px;
  }
  .img_home{
   width: 15%;
   float: right;
   margin-right: 5%;
  }
  .img_home2{
   width: 15%;
   float: right;
   margin-right: 3%;
  }
  .img_home3{ 
   width: 13%;
   float: right;
   margin-right: 3%;
   margin-top: 2%;
  }  /*for missioncure img*/
} 
@media screen and (min-width: 1900px) {
  .container {
    width: 1870px;
  }
  .img_home{
   width: 10%;
   float: right;
   margin-right: 5%;
  }
  .img_home2{
   width: 10%;
   float: right;
   margin-right: 3%;
  }
  .img_home3{ 
   width: 10%;
   float: right;
   margin-right: 3%;
   margin-top: 2%;
 } /*for missioncure img*/
}
/* ------------- footer--------------*/
.footer {
 float: left;
 margin-left: 3%;
}
.foot_text{
 font-family: Avenir;
 font-size: 20px;
 color: #2F2951;
}
.foot_text2{
 font-family: Avenir;
 font-size: 15px;
 color: #2F2951;
}


