/* MAIN STYLE CSS*/

*{
  background-color: #E7E0EA !important;
  color: #6364A5 !important;
}

@font-face{
    src: url(fonts/Avenir.ttc);
    font-family: Avenir;
}

@font-face{
    src: url(fonts/GopherDisplay-Bold.otf);
    font-family: Gopher-bold;
}

@font-face{
    src: url(fonts/GopherDisplay-Bold.otf);
    font-family: Gopher-bold;
}

@font-face{
    src: url(fonts/GopherDisplay-Medium.otf);
    font-family: Gopher-med;
}

@font-face{
    src: url(fonts/GTWalsheimPro-Medium.ttf);
    font-family: GT-med;
}

@font-face{
    src: url(fonts/GTWalsheimPro-Regular.ttf);
    font-family: GT-reg;
}

.whitespace {
      width: 100%;
      height: 100px;
}
.whitespace1 {
      width: 100%;
      height: 50px;
}

/* ------------- nav bar--------------*/
.nav-content {
    display: inline-block;
    align-items: center;
    background: #121212;
    font-family: dmono, sans-serif;
    width: 100%;
}

.nav-logo {
    position: relative;
    display: inline-block;
    justify-content: center;
    margin-left: 5%;
}
.logo{
  width: 13%;
  margin-top: 6%;
}
.logo:hover{
  content: url('https://res.cloudinary.com/dk5kblf1w/image/upload/v1600497881/logo_odvm7f.png');
  width: 13%;
}

.menu-list {
    position: relative;
    display: inline-block;
    min-width: 300px;
    text-align: right;
    right: 100px;
    height: 120px;
    float: right;
}

.menu-list ul#menu {
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;

}
#menu li {
    list-style: none;
    padding: 10px 25px;
    margin: 0 0.3vh;

}
#menu li a {
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
}
#menu li a:hover{
  color: #A799FF;
}
@media(max-width: 768px){
  .nav-logo{
    display: none;
  }
  .logo{
    display: none;
  }
  .menu-list{
    right: 10px;
  }
}

/*strikethrough effect for nav*/
.line2 {
  position: relative;
  display: block;
  cursor: pointer;
}

.line2:before, .line:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #74E8B0;
}

.line2:before {
  left: -2.5px;
}
.line2:after {
  right: 2.5px;
  background: #74E8B0;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.line2:hover:before {
  background: #74E8B0;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.line2:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.ontop{
   -webkit-text-decoration-line: overline; /* Safari */
   text-decoration-line: overline; 
}


/* ------------- home intro--------------*/
.container{
  margin-left: 1%;
  color: white;
}
h1{
  font-size: 50px;
  font-family: gar;
}
.intro{
  font-size: 40px;
  font-family: gar;

}
.toabout{
  color: white;
}
.toabout:hover{
  color:#74E8B0;
  text-decoration: none;
}
.intro2{
  font-size: 20px;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-10-8 21:0:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
/*------end of animation--------*/
@media(max-width: 768px){
  h1{
    font-size: 35px;
  }
  .intro{
    font-size: 20px;
  }
  .intro2{
    font-size: 15px;
  }
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.line div {
  visibility: hidden;
}

section {
  background: #c9c7b4;
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 10vw;
}

section:nth-child(2) {
  background: #efeae7;
}

section:nth-child(3) {
  background: #d3a488;
}

* {
  box-sizing: border-box;
}


/* ------------- body--------------*/
img{
  width: 80%;
  margin-left: -3%;
}

h4{
  font-family: vis-reg;
  margin-left: -1.5%;

}

.side{ /*dexcom title/info*/
  margin-left: 18%;
  font-family: vis-reg;
  font-size: 18px;
}

.side1{/*eco tracker title/info */
   margin-left: 32%;
  font-family: vis-reg;
  font-size: 17px;
}
.side3{ /*dexcom title/info*/
  margin-left: 19%;
  font-family: vis-reg;
  font-size: 17px;
}
.side2{  /*cupofjoe title/info */
   margin-left: 36%;
  font-family: vis-reg;
  font-size: 18px;
}
@media (min-width: 320px) and (max-width: 480px) {
 img{
    width: 100%;
  }
  h4{
    font-size: 12px;
    margin-left: 25%;
  }
  .side{
  font-size: 10px;
  margin-left: 15%;

  }
  .side1{/*eco tracker title/info */
  margin-left: 12%;
  font-family: vis-reg;
  font-size: 10px;
}
  .side2{  /*cupofjoe title/info */
  margin-left: 15%;
  font-family: vis-reg;
  font-size: 10px;
 }
 .side3{ /*hyundai*/
  margin-left: 15%;
  font-family: vis-reg;
  font-size: 10px;
 }
}
  
  
}
@media(max-width: 768px){
  img{
    width: 100%;
  }
  h4{
    font-size: 15px;
    margin-left: 1%;
  }
  .side{
    font-size: 15px;

  }
  .side1{/*eco tracker title/info */
  margin-left: 12%;
  font-family: vis-reg;
  font-size: 15px;
}
  .side2{  /*cupofjoe title/info */
  margin-left: 20%;
  font-family: vis-reg;
  font-size: 15px;
 }
 .side3{ /*hyundai*/
  margin-left: 12%;
  font-family: vis-reg;
  font-size: 15px;
 }
}

/* ------------- footer--------------*/
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   margin-left: 5%;
}
.fab, .mail{
  font-size: 25px;
  padding: 10px;
  color: white;

}
/*for text if need
.hi{
  margin-left: 10%;
  font-family: avenir, sans-serif;
  float: left;
  font-size: 20px;
}
/* copyright*/
.tm{
  font-family: avenir;
  font-size: 12px;
  margin-left: -85%;
  color: #525252;
}
@media(max-width: 768px){
  .hi{
    margin-left: 10%;
  }

  .fab, .mail{
  font-size: 25px;
  padding: 10px;
  color: white;
  margin-left: 3%;
  }
  .footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   margin-left: -1%;
  }
}
    