@font-face{
    src: url(fonts/Gopher-Bold.otf);
    font-family: Gopher-bold;
}

@font-face{
    src: url(fonts/Gopher-Medium.otf);
    font-family: Gopher-med;
}

@font-face{
    src: url(fonts/Avenir.ttc);
    font-family: Avenir;
}

@font-face{
    src:  url(fonts/GT Walsheim Pro/GTWalheimPro-Regular.);
    font-family: GT-reg;
}

@font-face{
    src:  url(fonts/GT Walsheim Pro/GTWalheimPro-Bold.ttf);
    font-family: GT-bold;
}